{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}
<!-- Submit the user’s input via POST to /register. -->
{% block main %}
    <form action="/buy" method="POST">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="buy" name="symbol" placeholder="Symbol Name" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="number" name="shares" placeholder="# of Shares" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Confirm Password" type="password">
        </div> -->
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}